body{
  margin:0;
  font-family:Poppins;
  background:#07363B;
  color:#E7F0F2;
}

nav{
  display:flex;
  justify-content:space-between;
  padding:20px 40px;
  background:#062c30;
  position:fixed;
  width:100%;
}

nav ul{
  list-style:none;
  display:flex;
  gap:20px;
}

nav a{
  color:white;
  text-decoration:none;
}

.hero{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:120px 60px;
}

.hero img{
  width:350px;
  animation:float 4s ease-in-out infinite;
}

@keyframes float{
  0%{transform:translateY(0);}
  50%{transform:translateY(-15px);}
  100%{transform:translateY(0);}
}

.btn{
  padding:12px 25px;
  background:#2E6F73;
  border-radius:8px;
  color:white;
  text-decoration:none;
  margin-right:10px;
}

.secondary{
  background:#B9C7CC;
  color:#07363B;
}

section{
  padding:80px 60px;
}

.projects .card{
  background:#062c30;
  padding:20px;
  border-radius:15px;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
}

.project-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.skills-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
  gap:15px;
}

.skills-grid div{
  background:#2E6F73;
  padding:15px;
  border-radius:10px;
  text-align:center;
}

.contact a{
  color:#B9C7CC;
}
