* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Poppins, sans-serif;
    background: radial-gradient(circle at top, #0a0f1f, #05070d);
    color: white;
  }
  
  /* NAVBAR */
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;
    width: 100%;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
  }
  
  .navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
  }
  
  .navbar a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
  }
  
  .navbar a:hover {
    color: #00f5ff;
  }
  
  
  /* HERO */
  
  .hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .name {
    color: #00f5ff;
    text-shadow: 0 0 10px #00f5ff;
  }
  
  .cursor {
    color: #00f5ff;
    animation: blink 1s infinite;
  }
  
  @keyframes blink {
    50% { opacity: 0; }
  }
  
  .btn {
    margin-top: 20px;
    padding: 12px 25px;
    border: 1px solid #00f5ff;
    color: #00f5ff;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s;
  }
  
  .btn:hover {
    background: #00f5ff;
    color: black;
    box-shadow: 0 0 20px #00f5ff;
  }
  
  
  /* SECTIONS */
  
  .section {
    padding: 100px 10%;
    text-align: center;
  }
  
  .section-title {
    font-family: Orbitron;
    color: #00f5ff;
    margin-bottom: 40px;
  }
  
  
  /* PROJECTS */
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 30px;
  }
  
  .project-card {
    padding: 25px;
    border-radius: 12px;
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    transition: 0.4s;
  }
  
  .project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(0,245,255,0.4);
  }
  
  
  /* SKILLS */
  
  .skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  
  .skill {
    padding: 10px 20px;
    border: 1px solid #00f5ff;
    border-radius: 6px;
    transition: 0.3s;
  }
  
  .skill:hover {
    background: #00f5ff;
    color: black;
  }
  
  
  /* ABOUT */
  
  .about-text {
    max-width: 700px;
    margin: auto;
    line-height: 1.7;
  }
  