body{
  margin:0;
  font-family:Poppins;
  background:#07363B;
  color:#E7F0F2;
  scroll-behavior:smooth;
}


/* NAV */

nav{
  position:fixed;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:20px 40px;
  background:rgba(0,0,0,0.2);
  backdrop-filter:blur(10px);
  z-index:1000;
}

nav ul{
  display:flex;
  gap:20px;
  list-style:none;
}

nav a{
  color:white;
  text-decoration:none;
}


/* HERO */

.hero{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:120px 80px;
  min-height:100vh;
}

.hero-left{
  max-width:600px;
}

.typing{
  color:#2E6F73;
  font-weight:600;
}


/* PROFILE */

.profile-container{
  width:300px;
  height:300px;
  border-radius:50%;
  padding:8px;
  background:linear-gradient(45deg,#2E6F73,#B9C7CC);
  animation:rotate 6s linear infinite;
}

.profile{
  width:100%;
  height:100%;
  border-radius:50%;
  object-fit:cover;
}

@keyframes rotate{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}


/* BUTTONS */

.btn{
  padding:12px 25px;
  background:#2E6F73;
  border-radius:10px;
  text-decoration:none;
  color:white;
  margin-right:10px;
}

.secondary{
  background:#B9C7CC;
  color:#07363B;
}



/* SECTIONS */

section{
  padding:80px;
}



/* PROJECTS */

.project-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:25px;
}

.card{
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(10px);
  border-radius:15px;
  padding:20px;
  cursor:pointer;
  transition:0.4s;
}

.card:hover{
  transform:translateY(-10px) scale(1.02);
}

.card img{
  width:100%;
  border-radius:10px;
}



/* SKILLS */

.skills-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
  gap:15px;
}

.skills-grid div{
  background:#2E6F73;
  padding:15px;
  border-radius:10px;
  text-align:center;
}



/* MODAL */

.modal{
  display:none;
  position:fixed;
  z-index:2000;
  padding-top:60px;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.8);
}

.modal img{
  margin:auto;
  display:block;
  max-width:80%;
  border-radius:10px;
}

.close{
  position:absolute;
  top:20px;
  right:40px;
  font-size:40px;
  color:white;
  cursor:pointer;
}
